img{
    border-radius: 50%;
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img:hover{
    filter: brightness(0.9);
    cursor: pointer;
}

.mat-button{
    outline: none !important;
}